* {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F7F8;
  font-family: Arial, Helvetica, sans-serif;

}

.visible {
  display: static;
}

.invisible {
  display: none;
}

.blur {
  opacity: 0.5;
}

.noblur {
  opacity: 2;
}

.highLight {
  background-color: blue;
}